<!-- <div class="container">
  <app-header></app-header>
  <app-todoform></app-todoform>
  <app-todos></app-todos>
</div> -->

<ng-container>
  <app-header></app-header>

  <div class="container m-3">
    <div class="row">

      <div class="col-lg-7 ">
        <img src="../assets/todo.jpg" class="img-fluid">
      </div>

      <div class="col-lg-5 p-2 d-flex justify-content-start align-items-center flex-column">
        <app-todoform class="w-100"></app-todoform>
        <app-todos class="w-100"></app-todos>
      </div>
    </div>
  </div>
</ng-container>